html, body {
    height: 100%;
    width: 100%;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    margin: 0;
    background-position: center;
    position: relative;
}

#navbar {
    background: #000000;
    margin: 0;
    width: 100%;
    text-align: center;
    height: 70px;
    color: whitesmoke;
    font-family: 'Helvetica';
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    box-shadow: -16px 20px 30px 0px rgba(4, 1, 2, 0.137);
    border-radius: 10%;
}

#main {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.relar [data-hide-on-relar] {
    display: none;
  }